body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

#calculator-wrapper {
  position: relative;
  background-color: whitesmoke;
  border-radius: 20px;
  width: 500px;
  height: 500px;
  margin: 20px;
  padding: 20px;
  text-align: left;
}

h1 {
  color: gray;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  margin-left: 45px;
  line-height: 2.5;
  width: 61%;
}

.label-wrapper {
  width: 35%;
}

.input-wrapper {
  margin-left: 20px;
  width: 50%;
}

.slide-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.slider {
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

#compute-btn {
  padding: 4px;
  margin-left: 45px;
}

#compute-btn:hover {
  filter: brightness(99%);
}

.highlight {
  background-color: yellow;
}
